header{
    background-color: #e2e1e1;
    height:100px;
}

h2{
    font-weight: 900;
    padding:20px;
    text-align: center;
}

.main{
    text-align:justify;
    direction:rtl;
}

.col-3{
    background-color: #e2e1e1;
}

button{
    position: fixed;
    
}

